.about{
    height: 100vh;

    
.title{
  padding-top: 100px;
  padding-left: 25px;
    text-align: start;
    width: 70%;
    line-height: 50px;
    opacity: 0;
}
.paragraphs{
    padding-top: 35px;
   padding-left: 679px;
   font-weight: 300;
   line-height: 30px;
   padding-right: 15px;
}
.p1{opacity: 0;}
.p2{opacity: 0;}
.p3{opacity: 0;}
}